body {
  margin:0;
  background-color: #000;
}

header {
    background-color: black;
    border-bottom: 1px solid orange;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.container-form {
  background-color: #000;
  color: #00ffff; 
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.contact-form {
  padding: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #000;
  border: 1px solid #00ffff;
  color: #00ffff;
  resize: none;
}

.contact-form button {
  background-color: #00ffff;
  color: #000;
  border: none;
  cursor: pointer;
}
